.side-login {
    display: none;
}

.side-login.active {
    display: block;
}

.side-login {
    width: 461px;
    height: 672px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.background-login {
    background-color: whitesmoke;
    position: relative;
}

.logo-login {
    margin: auto;
}

.logo-login img {
    margin-left: 10%;
}

.title-login {
    position: relative;
    border-top: 2px solid #C4C4C4;
    margin: auto;
    width: 70%;
}

.title-login .content {
    margin-top: 5%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    padding: 10% 0;
}

.form-login {
    width: 70%;
    position: relative;
    margin: auto;
}

.form-login input {
    width: 100%;
    border: 1px solid #3D5A98;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    height: 55px;
    margin: 2% 0;
}

.forgot-pass a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}

.side-button {
    position: relative;
    width: 100%;
    background: #B7546C;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
    height: 52px;
    margin-top: 7%;
    border: none;
}

.side-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content-forgot {
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 52px;
    background: #C4C4C4;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
}

.forgot-ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label.error {
    color: red!important;
}

.login-re {
    display: none;
    position: absolute;
    margin-top: 35%;
    width: 233px;
    height: 155px;
    background-color: #FFFFFF;
    transform: translateX(-70%);
    transition: all 0.6s ease;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-re.active {
    display: block;
}

.side-login-re {
    position: relative;
    height: 100%;
    width: 100%;
}

.login-re button {
    position: relative;
    height: 37px;
    width: 80%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5% 0;
    border: none;
    background-color: #B7546C;
    color: wheat;
    border-radius: 10px;
}

.login-re button:hover {
    background-color: brown;
}

#user-icon {
    background-color: transparent;
    border: none;
    outline: none;
}