.body-Read{
    padding-top: 50px;
}
.img-back{
    padding-left: 120px;
}
.font-style{
    margin: auto;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 62px;
    padding: 3% 0 0 0;
    text-transform: uppercase;
    color: #000000;
}
.cake-read1{
    padding-top: 20px;
}